<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('partials/_header.ejs', {title: 'Bingo da Família' }) %>
</head>

<body class="hide p-2">
    <div class="container container-main">
        <div class="row">
            <div class="col alert alert-primary text-center">
                <h2><a href="/">Bingo da Família</a></h2>
            </div>
        </div>
        <div class="row mb-0">
            <div class="col alert alert-danger me-2 d-flex justify-content-between">
                <h2 id="btIniciar">
                    <a href="#">Iniciar</a>
                </h2>
                <h2 id="btResetar">
                    <a href="#">Resetar</a>
                </h2>
            </div>
            <div class="col alert alert-success">
                <h2>
                    <a href="/cartela">Cartela</a>
                </h2>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
                <span id="btChamar" class="btn btn-primary" accesskey="y">Chamar Número</span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="resultado"></div>
            </div>
        </div>
    </div>

    <%- include('partials/_scripts.ejs') %>
        <script src="/js/shared.js"></script>
        <script src="/js/index.js"></script>
</body>

</html>